<a href="https://colab.research.google.com/github/vsa1920/Football-Data/blob/main/Final_Match_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA
from sklearn.preprocessing import normalize
from tensorflow import keras
from sklearn.metrics import classification_report, accuracy_score

In [64]:
player_data = pd.read_csv("https://raw.githubusercontent.com/vsa1920/Football-Data/main/epl_players.csv")
match_data = pd.read_csv("https://raw.githubusercontent.com/vsa1920/Football-Data/main/epl_matches_train.csv")
potential_shots = pd.read_csv("https://raw.githubusercontent.com/vsa1920/Football-Data/main/epl_potential_shots.csv")
goals = pd.read_csv("https://raw.githubusercontent.com/vsa1920/Football-Data/main/epl_goals.csv")
match_test = pd.read_csv("https://raw.githubusercontent.com/vsa1920/Football-Data/main/epl_matches_test.csv")
player_data.drop(["birthday", "height", "weight", "preferred_foot", "attacking_work_rate", "defensive_work_rate"], axis=1, inplace=True)
player_data = player_data.dropna()
match_data = match_data.dropna()
match_data.head()

      season  stage  ... home_team_goal  away_team_goal
0  2008/2009      1  ...              1               1
1  2008/2009      1  ...              1               0
2  2008/2009      1  ...              0               1
3  2008/2009      1  ...              2               1
5  2008/2009      1  ...              2               3

[5 rows x 90 columns]

In [65]:
match_data["date"] = pd.to_datetime(match_data["date"])
player_data["date"] = pd.to_datetime(player_data["date"])
player_data.head()

   player_id       date  crossing  ...  gk_kicking  gk_positioning  gk_reflexes
0     155782 2016-04-21      80.0  ...         9.0             9.0         12.0
1     155782 2016-04-07      80.0  ...         9.0             9.0         12.0
2     155782 2016-01-07      79.0  ...         9.0             9.0         12.0
3     155782 2015-12-24      79.0  ...         9.0             9.0         12.0
4     155782 2015-12-17      79.0  ...         9.0             9.0         12.0

[5 rows x 35 columns]

In [66]:
def preprocess_X(row):
    """
    Generate each row of data for each match.
    """
    X = []
    date = row[2]
    for positions in row[6:50]:
      X.append(positions)
    for player in row[50:72]:
      X.append(player)
      p_data = player_data.loc[player_data["player_id"] == player]
      pt_data = p_data.loc[p_data["date"] < date]
      pt_data.sort_values(by=["date"])
      try:
        X += list(pt_data.iloc[-1,2:])
      except:
        return None
    return X

In [67]:
def decision(home_goals, away_goals):
  if home_goals > away_goals:
    return 0
  elif home_goals == away_goals:
    return 1
  else:
    return 2

In [68]:
X_data = []
y_data = []

for index, row in match_data.iterrows():
  x_data = preprocess_X(row)
  if x_data == None:
    continue
  else:
    X_data.append(x_data)
  y_data.append(decision(row['home_team_goal'], row['away_team_goal']))

Split the dataset into training, validation and test sets:-

In [70]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X_data, y_data, random_state=100, test_size=0.1)

In [71]:
train_X, val_X, train_y, val_y = train_test_split(np.array(X_train_val), np.array(y_train_val), random_state=100, test_size=0.1)

In [72]:
# Random Forest Classifier
rf_clf = RandomForestClassifier(random_state=0)

In [73]:
rf_clf.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [74]:
# validation performance
print (accuracy_score(val_y, rf_clf.predict(val_X)))

0.5518867924528302

In [75]:
# test performance
print (accuracy_score(y_test, rf_clf.predict(X_test)))

0.5

In [76]:
# A classification report of test performance
print (classification_report(y_test, rf_clf.predict(X_test)))

              precision    recall  f1-score   support

           0       0.56      0.84      0.67       112
           1       0.17      0.02      0.03        63
           2       0.37      0.38      0.37        61

    accuracy                           0.50       236
   macro avg       0.36      0.41      0.36       236
weighted avg       0.41      0.50      0.42       236

In [77]:
input_dim = train_X.shape[1]
input_dim

792

In [31]:
model1 = keras.Sequential([
                          keras.layers.Dense(256, activation='relu', input_shape=[input_dim], kernel_regularizer=keras.regularizers.l2(1)),
                          keras.layers.BatchNormalization(),
                          #keras.layers.Dense(256, activation='relu', kernel_regularizer=keras.regularizers.l2(0.1)),
                          #keras.layers.BatchNormalization(),
                          keras.layers.Dense(128, activation='relu', kernel_regularizer=keras.regularizers.l2(1)),
                          keras.layers.BatchNormalization(),
                          #keras.layers.Dense(64, activation='relu', kernel_regularizer=keras.regularizers.l2(0.1)),
                          #keras.layers.BatchNormalization(),
                          keras.layers.Dense(32, activation='relu', kernel_regularizer=keras.regularizers.l2(1)),
                          keras.layers.Dense(3, activation='softmax')
])

In [45]:
checkpoint_path = "training_1/cp.ckpt"
checkpoint_dir = os.path.dirname(checkpoint_path)
opt = keras.optimizers.Adam(learning_rate=0.0001)
model1.compile(optimizer=opt, loss="sparse_categorical_crossentropy", metrics=["accuracy"])
model_checkpoint = keras.callbacks.ModelCheckpoint(checkpoint_path, save_best_only=True, monitor="val_accuracy")

In [46]:
model1.fit(x=train_X, y=train_y, epochs=100, batch_size=512, validation_data=(val_X, val_y),)

Epoch 1/5
4/4 [==============================] - 1s 88ms/step - loss: 429.7502 - accuracy: 0.3752 - val_loss: 424.8082 - val_accuracy: 0.3396
Epoch 2/5
4/4 [==============================] - 0s 29ms/step - loss: 423.4506 - accuracy: 0.3695 - val_loss: 418.5788 - val_accuracy: 0.3491
Epoch 3/5
4/4 [==============================] - 0s 29ms/step - loss: 417.2264 - accuracy: 0.3936 - val_loss: 412.4276 - val_accuracy: 0.3491
Epoch 4/5
4/4 [==============================] - 0s 30ms/step - loss: 411.0996 - accuracy: 0.3768 - val_loss: 406.3575 - val_accuracy: 0.3396
Epoch 5/5
4/4 [==============================] - 0s 28ms/step - loss: 405.0426 - accuracy: 0.3950 - val_loss: 400.3701 - val_accuracy: 0.3538

In [80]:
match_id = []
X_test = []
for index, row in match_test.iterrows():
  x_data = preprocess_X(row)
  if x_data == None:
    continue
  else:
    X_test.append(x_data)
    match_id.append(row["match_id"])

In [78]:
out_dict = {0: "win", 1: "tie", 2: "loss"}

In [90]:
pred = [out_dict[p] for p in rf_clf.predict(X_test)]
predictions_frame = pd.DataFrame(list(zip(match_id, pred)), columns=["match_id", "result"])

<class 'list'> 377

In [94]:
predictions_frame.to_csv("prediction_submission.csv")
from google.colab import files
files.download("prediction_submission.csv")